<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Users</title>
    </head>
    <body>

        <h1>Users</h1>
        
        <p>Here are the users registered on this site:</p>
        
        <ul>
            <li th:each="item : ${users}">
                <strong style="font-weight: bold; font-size: 19px"><span th:text="${item.name}">Name</span></strong> 
                <ol style="list-style-type:none">
                    <li style="margin-left:-2.5em">Address: <span th:text="${item.address}">Address</span></li>
                    <li style="margin-left:-2.5em">Description: <span th:text="${item.description}">Description</span></li>
                </ol>
            </li>
        </ul>
        
        <form action="#" th:action="@{/user}" method="POST">
            <p><label for="name">Find Name</label>: <input type="text" name="name" id="name"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        
    </body>
</html>
